Sandbox.ipynb
.ipynb_checkpoints
Archive
.gitignore
event_datafile_new.csv
event_datafile_new.xlsx

~$event_datafile_new.xlsx
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Project_1B_ Project_Data_Modeling_Cassandra-checkpoint.ipynb
event_data/.ipynb_checkpoints/2018-11-02-events-checkpoint.csv
